---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getTags } from "@services/tags";
const pageTitle = "Tag Index";
const tags = await getTags()
---

<BaseLayout pageTitle={pageTitle}>
  <p>(Alphabetical order)</p>
  <ul>
    {tags.map(t => <li class="p-2"><a href={`/tags/${t}`}># {t}</a></li>)}
  </ul>
</BaseLayout>