---
import BaseLayout from '@layouts/BaseLayout.astro';
import '@styles/global.css';

const pageTitle = "About Me";
import me from '@media/images/me.jpeg';
import { Image } from 'astro:assets';
---

<BaseLayout>
  <h1 class="text-center">About me</h1>
  <div class="my-8">
    <Image src={me} alt="A photograph of me" class="border-2 border-gray-500 rounded-full w-full max-w-80 md:my-8 m-auto" />
  </div>
  <h2>Bio</h2>
  <p>I have a BS in Software Engineering and I've been working uninterruptedly in the industry for 10+ years.</p>
  <p>I've been involved in many different projects, from small product-focused startups to large consultancy companies, and I've worked with a wide range of technologies and programming languages.</p>
  <p>For the last few years, I've been mostly focused in Full Stack Javascript development and leadership.</p>
  <p>I'm currently working as a Senior Full Stack Engineer at <a href="https://www.sngular.com" target="_blank" rel="noreferrer noopener">S|NGULAR</a>, where I'm helping build new features in a product for the Atlassian Apps Ecosystem</p>
  <h2></h2>
</BaseLayout>