---
---
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  .hamburger {
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: space-around;
    flex-direction: column;
  }

  .hamburger .line {
    display: block;
    width: 24px;
    height: 3px;
    @apply bg-primary-400
  }
</style>