---
const { tags } = Astro.props;
---
<div class="flex gap-2 flex-wrap">
  {tags.sort((a: string, b: string) => a.localeCompare(b)).map((tag: string) => (
    <div class="group border border-primary-300 hover:bg-primary-600 border-opacity-25 rounded-md text-sm text-ellipsis">
      <a class="block px-2 py-1 text-highlight group-hover:text-white" href={`/tags/${tag}`}># {tag}</a> 
    </div>
  ))}
</div>